name: CI

on:
  push:
    branches: [main]
    paths-ignore: [docs/**]
  pull_request:
    branches: [main]
    paths-ignore: [docs/**]

jobs:
  ci:
    uses: 1mb-dev/.github/.github/workflows/ci-go.yml@main
